<!DOCTYPE html>
{% extends "HTML/base.html" %}
{% block title %}
Tabla Activos
{% endblock %}

{% block content %}

<table>
    <tr>
        <th>Nombre</th>
        <th>Codigo activacion</th>
        <th>Dispositivo</th>
        <th>Modelo</th>
        <th>Marca</th>
        <th>Fecha instalacion</th>
        <th>Ubicacion</th>
        <th>Estado operativo</th>
        <th>Acciones</th>
    </tr>
    {% for Activo in Activos %}
    <tr>
        <td>{{ Activo.CodigoActivacion }}</td>
        <td>{{ Activo.Nombre }}</td>
        <td>{{ Activo.TipoDispositivo }}</td>
        <td>{{ Activo.Modelo }}</td>
        <td>{{ Activo.Marca }}</td>
        <td>{{ Activo.FechaInstalacion }}</td>
        <td>{{ Activo.Ubicacion }}</td>
        <td>{{ Activo.EstadoOperativo }}</td>
        <td>
            <a href="{% url 'EditarActivo' Activo.id %}"><button>Editar</button></a>
            <a href="{% url 'EliminarActivo' Activo.id %}"><button>Eliminar</button></a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}