# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Entornos Virtuales ---
venv/
env/
.venv/

# --- Variables de entorno / Secretos ---
.env

# --- Django ---
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# --- Sistema Operativo e IDEs ---
.DS_Store
.vscode/
.idea/