{% extends "HTML/base.html" %}
{% block title %}
Tabla Tecnico
{% endblock %}

{% block content %}
<h1>Técnicos</h1>
<form method="GET" action="" class="formbuscador">
    <input type="hidden" name="token" value="{{ jwt_token }}">
    <input type="text" name="buscar" value="{{ busqueda }}" placeholder="Buscar por nombre..." class="input-buscador">
    <button type="submit" class="boton-buscador">Buscar</button>
    
    {% if busqueda %}
        <a href="?token={{ jwt_token }}" class="LinkLimpiar">Limpiar</a>
    {% endif %}
</form>
<table>
    <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Telefono</th>
        <th class="privado">Acciones</th>
    </tr>
    {% for Trabajador in lista %}
    <tr>
        <td>{{ Trabajador.DNI }}</td>
        <td>{{ Trabajador.Nombre }}</td>
        <td>{{ Trabajador.Apellido }}</td>
        <td>{{ Trabajador.Email }}</td>
        <td>{{ Trabajador.Telefono }}</td>
        <td class="privado">
            <a  href="{% url 'EditarTecnico' Trabajador.id %}?token={{ jwt_token }}" ><button class="editar">Editar</button></a>
            <a href="{% url 'EliminarTecnico' Trabajador.id %}?token={{ jwt_token }}" ><button class="eliminar">Eliminar</button></a>
        </td>
    </tr>
    {% endfor %}
</table>

<div class="contenedor_boton privado">
    <a href="{% url 'NuevoTecnico' %}?token={{ jwt_token }}"><button>Nuevo Técnico</button></a>
</div>

{% if lista.has_other_pages %}
<div class="pagination">
    <span class="step-links">
        {% if lista.has_previous %}
            <a href="?page=1&buscar={{ busqueda }}&token={{ jwt_token }}">Primera</a>
            <a href="?page={{ lista.previous_page_number }}&buscar={{ busqueda }}&token={{ jwt_token }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ lista.number }} de {{ lista.paginator.num_pages }}.
        </span>

        {% if lista.has_next %}
            <a href="?page={{ lista.next_page_number }}&buscar={{ busqueda }}&token={{ jwt_token }}">Siguiente</a>
            <a href="?page={{ lista.paginator.num_pages }}&buscar={{ busqueda }}&token={{ jwt_token }}">Última</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}