{% extends "HTML/base.html" %}
{% block title %}
Tabla Tecnico
{% endblock %}

{% block content %}

<table>
    <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apelido</th>
        <th>Email</th>
        <th>Telefono</th>
        
    </tr>
    {% for Trabajador in lista %}
    <tr>
        <td>{{ Trabajador.DNI }}</td>
        <td>{{ Trabajador.Nombre }}</td>
        <td>{{ Trabajador.Apellido }}</td>
        <td>{{ Trabajador.Email }}</td>
        <td>{{ Trabajador.Telefono }}</td>
        
    </tr>
    {% endfor %}
</table>

{% endblock %}