<!DOCTYPE html>

<head>
    {% load static %}
    <title>{% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <img src="{% static 'imagenes/logo.png' %}">
        <nav>
            <a href="{% url 'inicio' %}">Inicio</a>
            <a href="{% url 'CargarTabla' %}">Tecnicos</a>
            <a href="{% url 'TablaActivos' %}">Activos</a>
            <a href="{% url 'TablaIncidencias' %}">Incidencias</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>2026 Deusto Smart Industry- Todos los derechos reservados.</p>
    </footer>

</body>