<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>{% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <img src="{% static 'imagenes/logo.png' %}">
        <nav>
            <a href="{% url 'inicio' %}?token={{ jwt_token }}">Inicio</a>
            <a href="{% url 'TablaTecnico' %}?token={{ jwt_token }}">Tecnicos</a>
            <a href="{% url 'TablaActivos' %}?token={{ jwt_token }}">Activos</a>
            <a href="{% url 'TablaIncidencias' %}?token={{ jwt_token }}">Incidencias</a>
        </nav>
        <nav>
            <a href="{% url 'mi_login_page' %}">Iniciar Sesion</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>2026 Deusto Smart Industry- Todos los derechos reservados.</p>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
</body>