{% extends "HTML/base.html" %}
{% load static %}
{% block title %} Inicio {% endblock %}

{% block content %}
<div class="body_Inicio">
    <!--div class="header-inicio" -->
    <img src="static/imagenes/deusto.png" class="deusto_logo">
    <h1 class="titulo">Deusto Smart Industry S.L.</h1>


    <p class="texto_Inicio">
        Bienvenido al sistema de gestión.
        Esta plataforma permite registrar dispositivos, controlar su estado operativo y organizar las intervenciones de
        mantenimiento.
    </p>

    <img src="{% static 'imagenes/Video.gif' %}" class="VideoInicio">

</div>
{% endblock %}