<!DOCTYPE html>
{% extends "HTML/base.html" %}
{% block title %}
Tabla Incidencias
{% endblock %}

{% block content %}


<h1>Incidencias</h1>
<form method="GET" action="" class="formbuscador">
    <input type="hidden" name="token" value="{{ jwt_token }}">
    
    <input type="text" name="buscar" value="{{ busqueda }}" placeholder="Buscar por tipo de intervencion..." class="input-buscador">
    <button type="submit" class="boton-buscador">Buscar</button>
    
    {% if busqueda %}
        <a href="?token={{ jwt_token }}" class="LinkLimpiar">Limpiar</a>
    {% endif %}
</form>
<table>
    <tr>
        <th>Código</th>
        <th>Fecha apertura</th>
        <th>Fecha cierre</th>
        <th>Tipo de intervención</th>
        <th>Descripción</th>
        <th>Técnico asignado</th>
        <th>Activo asignado</th>
        <th class="privado">Acciones</th>
    </tr>
    {% for Intervencion in Incidencias %}
    <tr>
        <td>{{ Intervencion.Codigo }}</td>
        <td>{{ Intervencion.FechaApertura }}</td>
        <td>{{ Intervencion.FechaCierre }}</td>
        <td>{{ Intervencion.TipoIntervencion }}</td>
        <td>{{ Intervencion.Descripcion }}</td>
        <td>{{ Intervencion.TecnicoAsignado }}</td>
        <td>{{ Intervencion.ActivoAsignado }}</td>
        <td class="privado">
            <a href="{% url 'EditarIncidencia' Intervencion.id %}?token={{ jwt_token }}"><button class="editar">Editar</button></a>
            <a href="{% url 'EliminarIncidencia' Intervencion.id %}?token={{ jwt_token }}"><button class="eliminar">Eliminar</button></a>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="contenedor_boton privado">
    <a href="{% url 'IncidenciaNueva' %}?token={{ jwt_token }}"><button>Nueva Incidencia</button></a>
</div>

{% if Incidencias.has_other_pages %}
<div class="pagination">
    <span class="step-links">
        {% if Incidencias.has_previous %}
            <a href="?page=1&buscar={{ busqueda }}&token={{ jwt_token }}">Primera</a>
            <a href="?page={{ Incidencias.previous_page_number }}&buscar={{ busqueda }}&token={{ jwt_token }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ Incidencias.number }} de {{ Incidencias.paginator.num_pages }}.
        </span>

        {% if Incidencias.has_next %}
            <a href="?page={{ Incidencias.next_page_number }}&buscar={{ busqueda }}&token={{ jwt_token }}">Siguiente</a>
            <a href="?page={{ Incidencias.paginator.num_pages }}&buscar={{ busqueda }}&token={{ jwt_token }}">Última</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}