<!DOCTYPE html>
{% extends "HTML/base.html" %}
{% block title %}
Tabla Incidencias
{% endblock %}

{% block content %}


<h1>Incidencias</h1>
<table>
    <tr>
        <th>Código</th>
        <th>Fecha apertura</th>
        <th>Fecha cierre</th>
        <th>Tipo de intervención</th>
        <th>Descripción</th>
        <th>Técnico asignado</th>
        <th>Activo asignado</th>
        <th>Acciones</th>
    </tr>
    {% for Intervencion in Incidencias %}
    <tr>
        <td>{{ Intervencion.Codigo }}</td>
        <td>{{ Intervencion.FechaApertura }}</td>
        <td>{{ Intervencion.FechaCierre }}</td>
        <td>{{ Intervencion.TipoIntervencion }}</td>
        <td>{{ Intervencion.Descripcion }}</td>
        <td>{{ Intervencion.TecnicoAsignado }}</td>
        <td>{{ Intervencion.ActivoAsignado }}</td>
        <td>
            <a href="{% url 'EditarIncidencia' Intervencion.id %}"><button class="editar">Editar</button></a>
            <a href="{% url 'EliminarIncidencia' Intervencion.id %}"><button class="eliminar">Eliminar</button></a>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="contenedor_boton">
    <a href="{% url 'IncidenciaNueva' %}"><button>Nueva Incidencia</button></a>
</div>


{% endblock %}